<div class="container-responsive">
  <div class="row">
    <div class="col-md-4 p-5">
      <img src="assets/semi-auto-256.png" class="icon d-none d-md-block" style="align-content: center; width: 40%; height: auto;" alt="flat icon computer">
      <h4 style="text-align: center;">Semi-Automated Processing</h4>
      <p style="align-content: center; text-align: center">Our system utilizes some of the latest technology to enable a semi-automated rule engine to help administrators and students save time and reduce revision errors.</p>
    </div>
    <div class="col-md-4 p-5">
      <span>
        <img src="assets/mail-new-256.png" class="icon d-none d-md-block" style="justify-content: center; width: 40%; height: auto;" alt="flat icon new mail">
        <h4 style="text-align: center;">Email Notifications</h4>
      <p style="align-content: center; text-align: center">From the second a request has been submitted, to when a decision has been made, our application will automatically notify students, letting them know what is going on with their request, every step of the way.</p>
      </span>
    </div>
    <div class="col-md-4 p-5">
      <img src="assets/centralized-requests-256.png" class="icon d-none d-md-block" style="width: 40%; height: auto;" alt="flat icon centralized requests">
      <h4 style="text-align: center;">Centralized Requests</h4>
      <p style="align-content: center; text-align: center">From requesting permission numbers for courses to solidifying their major, our application centralizes all of these various requests into a single location that users can easily.</p>
    </div>
  </div>
</div>
<hr id="hor-rule">