<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <a class="navbar-brand" href="#">
      <img src="assets/csun-logo.png" height="44" width="272">
    </a>
    <!-- <button class="navbar-toggler-icon" style="border: none;"></button> -->
    <button id="menu" class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <ion-icon name="menu"></ion-icon> -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-md-auto">
        <a class="nav-item nav-link active" style="padding-right:2ex; text-align:center;" href="#">HOME<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" style="padding-right:2ex; text-align:center;" href="">ABOUT</a>
        <a href="/frontend/src/app/components/login/login.component.html" style="align-content: center" class="btn btn-outline-secondary btn-md" role="button" aria-pressed="true">LOGIN</a>
      </div>
    </div>
  </nav>
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>