<html>
		<router-outlet></router-outlet>
	<title>
		Student Login
	</title>
	<body>
		<table>
			<th>
				Welcome to the Student Academic Progression System.
			</th>
			<tr>
				<td>
					<p>
						Please enter your student email and password.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<textarea>Please enter student identification number. </textarea>
				</td>
			</tr>
				<tr>
					<td>
						<textarea>Please enter password. </textarea>
					</td>
				</tr>
			<tr>
				<td>
					<a class="MyButton" href="/frontend/src/app/components/request-page/request-page.component.html"> Login </a>
					<button  class="MyButton" type="submit" onclick=""> Login </button>
					<button> Clear Fields </button>
				</td>
			</tr>
		</table>
	</body>
	</html>