<!DOCTYPE html>

<html>
	<title>
		Student Academic Progression System
	</title>

	<h1 style="text-align: center">
		Welcome to the Student Academic Progression System!
	</h1>

	<table>
		<tr>
			<th>
				<h2>
					What to do?
				</h2>			
			</th>
		</tr>
		<tr>
			<td>
				<h2>
				This system allows you as the student to submit a request to add a course. You must specify exactly the course you intend to enroll. Once the submission completes, you should recieve a notification via email with a permission number that you will use to enroll fully into the course you requested.
				</h2>
			</td>
		</tr>

		<tr>
			<th>
				List of Available Courses.
			</th>
		</tr>

		<tr>	
			<th>
				Please select a course by checking the box next to it.
			</th>
		</tr>

		<tr>
			<td>
				<div id="CourseList">
				</div>
			</td>
		</tr>
		<tr>
			<th>
				<button id="Submit"> Submit </button> 
				<button id="Clear"> Clear Selection </button> 
			</th>
		</tr>

	</table>
</html>
